/* 
    Created on : Jun 18, 2021, 4:12:43 PM
    Author     : DELL
*/
@charset "UTF-8";

@font-face {
    font-family: NTR;
    src: url('../css/NTR-Regular.ttf');
}
*{
    font-family: NTR;
    top: 0;
    left: 0;
}
p, a, span {    
    font-size: 18px;
}

