/* 
    Created on : Jun 20, 2021, 10:46:10 PM
    Author     : Admin
*/
body {
    width: 100%;
    height: 1800px;
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}
footer {
    height: 0;
}

.animated-background {
    z-index: -1;
}
.content-container {
    margin-top: 120px;
    width: 100%;
    height: auto;
}
.content-child {
    width: 100%;
    margin: 240px 0;
    display: flex;
    justify-content: center;
}

/* Animate area */
.fade-in{
    animation: fadeIn ease 5s;
}
@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
