/* 
    Created on : Jun 20, 2021, 10:46:10 PM
    Author     : Admin
*/
body {
    width: 100%;
    height: 1800px;
    position: absolute;
    z-index: -1;
}
footer {
    height: 0;
}

.animated-background {
    z-index: -1;
}
.content-container {
    margin-top: 120px;
    width: 100%;
    height: auto;
}
.content-child {
    width: 100%;
    margin: 240px 0 120px 0;
    display: flex;
    justify-content: center;
}
.break-line {
    width: 66%;
    float: left;
    margin-left: 17%;
    height: 3px;
    border-radius: 3px;
    background-color: #f0f0f0;
}

.text-stroke {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
/* Animate area */
.fade-in{
    animation: fadeIn ease 5s;
}
@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
